/*Universal: this selector dictates basic design properties of all properties within the entire page, unless overriden elsewhere. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*This selector dictates basic design properties of all properties within the <body> section of the HTML. Properties include the standard font family, color, and background color, unless overriden elsewhere*/
body {
    background-color: #d9dcd6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
/*This selector dictates the visual properties of code within the <header> sections of the HTML, such as color and padding. */
header {
    padding: 20px;
    background-color: #2a607c;
}

/*This selector dictates the visual properties of within <h1> heading sections, only used for the site/company title at the top. */
h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

/*This selector dictates the visual properties of within <h2> heading sections, used for the content headings. */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*This selector dictates the visual properties of within <h3> heading sections, used for the benefit headings. */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*This selector dictates the visual properties of within <h4> heading sections, used only on the footer text. */
h4 {
    font-size: 20px;
}

/*This selector dictates the visual properties of all links onsite, used solely in the header. */
a {
    color: #ffffff;
    text-decoration: none;
}

/*This selector dictates the visual properties of the basic nav, ensuring it stays top right. */
nav {
    float: right;
}

/*This selector dictates the visual properties of the list items within the nav. */
nav li {
        padding-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
        font-size: 20px;
        list-style-type: none;
        display: inline-block;
}

/*This class element alters the font color, used for the letters "seo" within the Horiseon logo at the top. */
.logo {
    color: #d9dcd6;
}

/*This class element, assigned exclusively to the background hero image beneath the header, dictates the visual properties of that image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*This class element is used to ensure an element floats left when applied. Used in the content section. */
.float-left {
    float: left;
    margin-right: 25px;
}

/*This class element is used to ensure an element floats right when applied. Used in the content section. */
.float-right {
    float: right;
    margin-left: 25px;
}

/*This class element is used to dictate visual properties of the content section. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*This class element is used to dictate visual properties of the benefits section. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/*This class element is used to separate the individual benefits with some margins. */
.benefit {
    margin-bottom: 32px;
}

/*This class element is used to dictate visual properties of the benefits images/icons. */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*This class element is used to dictate visual properties of the offerings. */
.offering {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

/*This class element is used to dictate visual properties of the offerings images. */
.offering img {
    max-height: 200px;
}

/*This selector dictates the visual properties of code within the <footer> sections of the HTML. */
footer {
    padding: 30px;
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}